################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMPG-323-Project-2-38082918/FileContentIndex
